body {
    background-color: #f0f2f5;
    font-family: "Fira Sans", sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0px auto;

}

.login {
    max-width: 500px;
    padding-top: 10em;
}

.about-us {
    font-size: 25px;
}